<!DOCTYPE html>
<html>
<head>
<title></title>
#parse("sys/header.html")
</head>
<body>
<div class="panel panel-default" id="rrapp" v-cloak>
	<form class="layui-form" action="" style="padding: 20px">
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label" style="padding-left:5px ">考试名称：</label>
				<div class="layui-input-inline">
					<input type="text" name="title" lay-verify="title" v-model="examTest.title" autocomplete="off" placeholder="考试名称" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label" style="padding-left:5px ">结束时间：</label>
				<div class="layui-input-inline">
					<input type="text" name="date" lay-verify="required" v-model="examTest.endTime"  autocomplete="off" id="endTime" lay-verify="date"  class="layui-input">
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2 control-label">
				<input type="button" class="btn btn-primary" @click="startExam" value="确定"/>
			</div>
		</div>
	</form>
</div>

<script type="text/javascript">
    var examPaperId = T.p("examPaperId");
    layui.use(['form', 'laydate'], function(){
        var form = layui.form
            ,laydate = layui.laydate;
        //日期
        laydate.render({
            elem: '#endTime'
            ,type: 'datetime',
            done: function(value, date, endDate){
                console.log(value); //得到日期生成的值，如：2017-08-18
                vm.examTest.endTime = value
            }
        });
    });
    var vm = new Vue({
        el:'#rrapp',
        data:{
			examTest:{
                examPaperId:examPaperId,
			},
        },
        methods: {
			startExam:function () {
			    var endTime = vm.examTest.endTime;
			    if(endTime==null||endTime==''){
			        alert('考试结束时间设置不能为空！');
			        return
				}
				var title = vm.examTest.title;
			    if(title==null||title==''){
                    alert('考试名称不能为空！');
                    return
				}
                $.ajax({
                    type: "POST",
                    url: '../examtest/save',
                    data: JSON.stringify(vm.examTest),
                    success: function(r){
                        if(r.code === 0){
                            alert('操作成功', function(index){
                                vm.back();
                            });
                        }else{
                            alert(r.msg);
                        }
                    }
                });
            }

        }
    });


</script>
</body>
</html>