<!DOCTYPE html>
<html>
<head>
<title></title>
#parse("sys/header.html")
</head>
<body>
<div class="panel panel-default" id="rrapp" v-cloak>
	<div class="panel-heading">{{title}}</div>
	<form class="form-horizontal">
		<div class="form-group">
		   	<div class="col-sm-2 control-label">姓名</div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="stuInfo.stuName" placeholder="姓名"/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">学号</div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="stuInfo.stuNo" placeholder="学号"/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">密码</div>
		   	<div class="col-sm-10">
				<input id="password" type="password" class="form-control" placeholder="初始密码为学号"/>
		    </div>
		</div>
		<div class="form-group">
			<div class="col-sm-2 control-label"></div> 
			<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
			&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="back" value="返回"/>
		</div>
	</form>
</div>
<script src="${rc.contextPath}/js/stuinfo/stuinfo_add.js?_${date.systemTime}"></script>
<script type="text/javascript">
    $(function () {
       vm.stuInfo.classId=classId;
       var password =  document.getElementById("password");
       if(id==null){
           password.setAttribute("disabled","disabled");
           password.setAttribute("type","text");
	   }
       console.log('id',id)
    });

</script>
</body>
</html>